nav{
    border-bottom: solid black 1px;
}

#logo{
    margin-top: 10%;
    margin-left: 10%;
    max-width: 50px;
}

.nav-wrapper{
    background-color: #ffebdc;
    padding-bottom: 60px;
}

nav ul a{
    color: #2d0f41;
}

nav a{
    color: #2d0f41;
}

a{
    font-size: large;
}

#burger{
    position: absolute;
	margin-left: 10px; 
    top: 1px;
	font-size: 40px;
    display: none;
}

#burger:hover{
    cursor: pointer;
}

#sidenav_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffebdc;
    text-align: center;
}

#sidenav{
    display: none;
}

#sidenav a{
    text-decoration: none;
    color: #620F41;
}

#sidenav li{
    border-bottom: 1px solid #620F41;
}

@media (max-width: 992px) {
    #burger{
		display: block;
    }
    
    #navbar{
        display: none;
    }
}