<nav>
    <div class="nav-wrapper" >
        <a routerLink="index" class="brand-logo"><img id="logo" src="./assets/images/bttcircle.png" alt="Beginners Taiko Tournament's logo"></a>
        <ul class="right" id="navbar">
            <li><a routerLink="index">Welcome!</a></li>
            <li><a routerLink="schedule">Schedule</a></li>
            <li><a routerLink="bracket">Bracket</a></li>
            <li><a routerLink="mappools">Mappools</a></li>
            <li><a routerLink="players">Players</a></li>
            <li><a routerLink="rules">Rules</a></li>
            <li><a routerLink="staff">Staff</a></li>
            <li><a routerLink="signup">Signup</a></li>
        </ul>
    </div>
</nav>

<div id="burger">		
    <i class="fas fa-bars"></i>
</div>

<div id="sidenav_container">
    <ul id="sidenav">
        <li><a routerLink="index">Welcome!</a></li>
        <li><a routerLink="schedule">Schedule</a></li>
        <li><a routerLink="bracket">Bracket</a></li>
        <li><a routerLink="mappools">Mappools</a></li>
        <li><a routerLink="players">Players</a></li>
        <li><a routerLink="rules">Rules</a></li>
        <li><a routerLink="staff">Staff</a></li>
        <li><a routerLink="signup">Signup</a></li>
    </ul>
</div>

<script src="../../assets/js/navbar.js"></script>