#logo{
    margin-top: 10%;
    margin-left: 10%;
    max-width: 50px;
}

.nav-wrapper{
    background-color: #ffebdc;
}

nav ul a{
    color: #2d0f41;
}

nav a{
    color: #2d0f41;
}

a{
    font-size: large;
}