<div class="row">
  <div class="col card-panel l12" id="pool-select">
    <span
      class="pool-entry"
      *ngFor="let pool of pools"
      (click)="selectPool(pool.round)"
      >{{ pool.round }}</span
    >
  </div>
</div>

<div class="row valign-wrapper">
  <div class="col l9 m8 s7 card-panel z-depth-2" id="map-overview">
    <h2>{{ currentMap.mod }}</h2>
    <h3>
      {{ currentMap.artist }} -- {{ currentMap.title }} [{{ currentMap.diff }}]
    </h3>
    <h4>Map by {{ currentMap.creator }}</h4>
    <img src="{{ currentMap.image }}" />
    <ul>
      <li>Star Rating: {{ currentMap.sr }}</li>
      <li>Length: {{ currentMap.time }}</li>
      <li>bpm: {{ currentMap.bpm }}</li>
      <li>OD: {{ currentMap.od }}</li>
      <li>HP: {{ currentMap.hp }}</li>
    </ul>
  </div>
  <div class="col l3 m4 s5 card-panel center-align" id="pool-list">
    <ul>
      <li
        class="map-entry"
        *ngFor="let map of currentPool.maps"
        (click)="selectMap(map.id)"
      >
        {{ map.title }}
      </li>
    </ul>

    <div id="mappack-wrapper">
      <a href="#">Mappack Download</a>
    </div>
  </div>
</div>
