#pool-list {
  margin: 16px;
}

#map-overview {
  margin: 16px;
}

#mappack-wrapper {
  margin: 8px;
}

#pool-select {
  text-align: center;
}

.map-entry:hover {
  background: #d3d3d3;
  cursor: pointer;
}

.pool-entry {
  margin: 8px;
}

.pool-entry:hover {
  background: #d3d3d3;
  cursor: pointer;
}

.u-bold {
  font-weight: bold;
}

.map-title {
  font-size: 24pt;
  margin-bottom: 0;
}

.map-creator {
  margin-top: 0;
  font-size: 18pt;
  color: #646464;
}

img {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.map-props {
  display: flex;
  font-size: 16pt;
}

.map-props div {
  flex-grow: 1;
  flex-basis: 0;
}

.prop-name {
  font-weight: bold;
}

.map-wrapper {
  display: flex;
}
