<div class="row">
  <div class="col card-panel l12" id="pool-select">
    <span
      class="pool-entry"
      *ngFor="let pool of pools"
      (click)="selectPool(pool.round)"
      >{{ pool.round }}</span
    >
  </div>
</div>

<div class="row map-wrapper">
  <div class="col l9 m8 s7 card-panel z-depth-2" id="map-overview">
    <h3 class="map-title">
      <span class="u-bold">{{ currentMap.mod }}:</span>
      {{ currentMap.artist }} -- {{ currentMap.title }} [{{ currentMap.diff }}]
    </h3>
    <h4 class="map-creator">Map by {{ currentMap.creator }}</h4>
    <img src="{{ currentMap.image }}" />
    <div class="map-props">
      <div><span class="prop-name">Stars:</span> {{ currentMap.sr }}</div>
      <div><span class="prop-name">Time:</span> {{ currentMap.time }}</div>
      <div><span class="prop-name">BPM:</span> {{ currentMap.bpm }}</div>
      <div><span class="prop-name">OD:</span> {{ currentMap.od }}</div>
      <div><span class="prop-name">HP:</span> {{ currentMap.hp }}</div>
    </div>
  </div>
  <div class="col l3 m4 s5 card-panel" id="pool-list">
    <ul>
      <li
        class="map-entry"
        *ngFor="let map of currentPool.maps"
        (click)="selectMap(map.id)"
      >
        <span class="u-bold">{{ map.mod }}:</span> {{ map.title }}
      </li>
    </ul>

    <div id="mappack-wrapper">
      <a href="#">Mappack Download</a>
    </div>
  </div>
</div>
