#pool-list {
  margin: 16px;
}

#map-overview {
  margin: 16px;
}

#mappack-wrapper {
  margin: 8px;
}

#pool-select {
  text-align: center;
}

.map-entry:hover {
  background: #d3d3d3;
  cursor: pointer;
}

.pool-entry {
  margin: 8px;
}

.pool-entry:hover {
  background: #d3d3d3;
  cursor: pointer;
}
