#header{
  color: #ffffff;
  text-shadow: #000000 2px 0 2px;
  margin: auto;
  margin-bottom: 1%;
  text-align: center;
}

div.col.l9.m8.s12.card-panel.z-depth-2 {
  color: #ffffff;
  border: solid black 1px;
  background-color: #42245488;
  font-size: x-large;
  text-shadow: #000000 2px 0 2px;
  box-shadow: #42245471 2px 2px;
}

div.col.l9.m8.s12.card-panel.z-depth-2.right {
    margin-right: 2%;
}

div.col.l9.m8.s12.card-panel.z-depth-2.left {
    margin-left: 2%;
}

.bg {
  background-image: url(../../assets/images/background.png);
  background-repeat: repeat;
  margin: 0%;
}

h2{
  font-weight: bold;
  text-decoration: underline;
}

h3{
    text-align: center;
    font-weight: bold;
}

.row{
  margin: 0;
}

img{
  max-height: 450px;
}