div.col.l9.m8.s12.card-panel.z-depth-2 {
  color: #ffffff;
  border: solid black 1px;
  background-color: #42245488;
  font-size: large;
  text-shadow: #000000 2px 0 2px;
  box-shadow: #42245471 2px 2px;
}

div.col.l9.m8.s12.card-panel.z-depth-2.right {
    margin-right: 2%;
}

div.col.l9.m8.s12.card-panel.z-depth-2.left {
    margin-left: 2%;
}

#bg {
  background-image: url(https://cdn.discordapp.com/attachments/477252567815159819/654311269976899634/e96a8d.png);
  background: contain;
  margin: 0%;
}

h3{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}