<div id="bg">
  <div class="row valign-wrapper">
    <div id=header class="col l8 m10 s12">
      <h2>RULES</h2>
    </div>
  </div>


  <div>
    <div class="row valign-wrapper">
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha3.png" alt="">
      </div>
      <div class="col l9 m8 s12 card-panel z-depth-2 right">
        <h3>Rank restrictions</h3>
        <p>
          The only restriction that exists here for registration is that you cannot be in the top 10k in ranks. This is
          meant to be a beginner's tournament, and many, if not all the maps are catered towards those who are below
          10k.
          We don't want an unfair advantage! There's two exceptions to this rule.</p>
        <ol>
          <li>If you're the appropriate rank upon registration but rank past 10k before the tournament begins, if you
            are
            still below 9k, you're considered eligible.</li>
          <li>If you rank while the tournament is taking place, that cannot be stopped, but please refrain from doing so
            (ranking too far below 9k will require eliminations).</li>
        </ol>
      </div>
    </div>

    <div class="row valign-wrapper">
      <div class="col l9 m8 s12 card-panel z-depth-2 left">
        <h3>General rules</h3>
        <p>There's a lot of ground to cover in the Rules section, so please bear with me as I cover the various
          sections.
          If you already know how a general tournament works, a refresher never hurts, but there is also one additional
          rule that'll take place at the very start.</p>
        <ol>
          <li>This tournament is double-elimination and single-player. There are no teams here.</li>
          <li>The Score System used will be Score V2.</li>
          <li>The mapset will be announced every Sunday, and the categories are as follows:
            NoMod, Hidden, HardRock, DoubleTime, FreeMod, TieBreaker.</li>
          <li>Match schedule is decided by the organizers. Players may feel free to ask for a reschedule if that doesn't
            work for them. Each stage of this tournament will last a week-end.</li>
          <li>If there is no referee available, or if I am not available, the match can be postponed.</li>
          <li>If both players tie on the TieBreaker, the TieBreaker will be replayed.</li>
          <li>If a player disconnects from the game, the opponent wins the round. The only exception is if the player
            disconnects during the first ten seconds of the song, in which the round is restarted.</li>
          <li>Maps cannot be used twice in the same round.</li>
          <li>You have 15 minutes to show up to your scheduled match. If the opponent doesn't show up, the player who
            was
            supposed to play automatically advances onwards.</li>
          <li>Any other rules changes or unexpected occurrences will be announced in the thread.</li>
        </ol>
      </div>
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha6.png" alt="">
      </div>
    </div>

    <div class="row valign-wrapper">
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha4.png" alt="">
      </div>
      <div class="col l9 m8 s12 card-panel z-depth-2 right">
        <h3>Stage regulations</h3>
        <ol>
          <li>There are eight stages to this tournament: Qualifiers, Group Stage, RO32, RO16, Quarterfinals, Semifinals,
            Finals and Grand Finals.</li>
          <li>Matches are seeded. This will happen in the seeding round (Qualifiers). More information will be held in
            Seeding Regulations.</li>
          <li>In order to win in Group Stage and RO32, it's a Best-Of-7. In RO16 & Quarterfinals, it's a Best-Of-9. In
            Semifinals, it's a Best-Of-11. In Finals and Grand Finals, it's a Best-Of-13.</li>
          <li>During Group Stage, a group = 4 people. The top 2 player from each group will advance to RO32</li>
        </ol>
      </div>
    </div>

    <div class="row valign-wrapper">
      <div class="col l9 m8 s12 card-panel z-depth-2 left">
        <h3>Seeding regulations</h3>
        <ol>
          <li>During the seeding round, there will be multiple lobbies available at various hours. Players will be free
            to
            sign up to the lobbies they please.</li>
          <li>This match is mainly used to weed out the no-shows, however it is also used to file in any backup players
            who may be called upon to take place of a no-show in the future.</li>
          <li>A private match will be created for all the players, and will be invited into their match when it's their
            time. Make certain you're online at this time.</li>
          <li>There will be no warmup during this, but rather all the players will play through a shorter mappool.</li>
          <li>Seeding will be made with the average rank of each player on each map.</li>
          <li>Maps will be played twice in a row during the lobby. However, players can ask for a break of 5 minutes
            between each run.</li>
          <li>Results will be announced on the Discord Server after the end of the week-end.</li>
        </ol>
      </div>
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha7.png" alt="">
      </div>
    </div>

    <div class="row valign-wrapper">
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha1.png" alt="">
      </div>
      <div class="col l9 m8 s12 card-panel z-depth-2 right">
        <h3>Match regulations</h3>
        <ol>
          <li>A private match will be created for your match, and both players will be invited into their match when
            it's
            their time. Make certain you're online at this time.</li>
          <li>Each player is allowed one warm-up, but it must be below 4 minutes.</li>
          <li>Here is how bans and picks will happen. The first person to ban will be the loser of the !roll, then they
            will alternate bans. (Loser -> Winner -> Loser -> Winner) And the first person to pick will be the winner of
            the !roll, then they will alternate picks. (Winner -> Loser -> Winner -> Loser, etc...)</li>
          <li>A player can't ban a map from the same category twice.</li>
          <li>In case of a tie, the tiebreaker is selected.</li>
          <li>Results will be displayed on Challonge, and announced by the referee.</li>
        </ol>
      </div>
    </div>

    <div class="row valign-wrapper">
      <div class="col l9 m8 s12 card-panel z-depth-2 left">
        <h3>Mappool regulations</h3>
        <ol>
          <li>There's a different pool in each stage of the tournament, becoming progressively harder.</li>
          <li>As stated before, NoMod, Hidden, HardRock, DoubleTime, FreeMod, and TieBreaker are the six categories that
            exist for this tournament.</li>
          <li>Tiebreaker is played with FreeMod.</li>
          <li>As stated previously, the mappool is released every Sunday.</li>
        </ol>
      </div>
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha2.png" alt="">
      </div>
    </div>

    <div class="row valign-wrapper">
      <div class="col l3 m4 center-align">
        <img class="responsive-img hide-on-small-only" src="./assets/images/mocha5.png" alt="">
      </div>
      <div class="col l9 m8 s12 card-panel z-depth-2 right">
        <h3>Scheduling regulations</h3>
        <ol>
          <li>Every stage is held during week-ends to let players practice.</li>
          <li>Matches are allowed to overlap if referees are available.</li>
          <li>You must complete your match at the designated time or both players are eliminated.</li>
          <li>However if you and your opponent can come up with a better time than what we have schedule for you, please
            inform us of this. We will change your match if informed before the Thursday before the week-end of matches.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
