<div id="footer" class="container valign-wrapper">
  <div class="valign-wrapper">
    <a href="https://www.twitch.tv/beginnerstaikotournament" class="footerlink" id="twitch" target="_blank"><img src="./assets/images/twitchlogo.png"
        alt="">Twitch</a>
  </div>

  <div class="valign-wrapper">
    <a href="https://challonge.com/BTTS5" class="footerlink" id="challonge" target="_blank"><img src="./assets/images/challongelogo.png"
        alt="">Challonge</a>
  </div>

  <div class="valign-wrapper">
    <a href="https://discord.gg/EYAqSWH" class="footerlink" id="discord" target="_blank"><img src="./assets/images/discordlogo.png" alt="">Discord</a>
  </div>

  <div class="valign-wrapper">
    <a href="https://osu.ppy.sh/community/forums/topics/994702" class="footerlink" id="forum" target="_blank"><img src="./assets/images/osu.png" alt="">Forum Post</a>
  </div>

  <div class="valign-wrapper">
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vR6QPdOsvVXvpXcjTrqOvaQESu0LpH3HAd9QxsYMbDa7xAatXc8X3hnmmDZSxfTLtAZz-WArFbTbm8_/pubhtml" class="footerlink" id="sheet" target="_blank"><img src="./assets/images/sheet.png" alt="">Mastersheet</a>
  </div>
</div>
