<div id="footer" class="container valign-wrapper">
  <div class="valign-wrapper">
    <a href="https://www.twitch.tv/beginnerstaikotournament" target="_blank"><img src="./assets/images/twitchlogo.png"
        id="footer" alt="twitter"></a>
    <a href="https://www.twitch.tv/beginnerstaikotournament" target="_blank">Twitch</a>
  </div>
  <div class="valign-wrapper">
    <a href="https://challonge.com/BTTS5" target="_blank"><img src="./assets/images/challongelogo.png"
        id="footer" alt="twitter"></a>
    <a href="https://challonge.com/BTTS5" target="_blank">Challonge</a>
  </div>

</div>
