<div class="timeline_container">
    <div class="timeline">
        <div class="timeline_part">
            <h2>January 18th - January 19th</h2>
            <div class="point" routerLink="qualifiers"></div>
        </div>
        <div class="timeline_part">
            <h2>January 25th - January 26th</h2>
            <div class="point" routerLink="groupstage"></div>
        </div>
        <div class="timeline_part">
            <h2>February 1st - February 2nd</h2>
            <div class="point" routerLink="round32"></div>
        </div>
        <div class="timeline_part">
            <h2>February 8th - February 9th</h2>
            <div class="point" routerLink="round16"></div>
        </div>
        <div class="timeline_part">
            <h2>February 15th - February 16th</h2>
            <div class="point" routerLink="quarterfinals"></div>
        </div>
        <div class="timeline_part">
            <h2>February 22nd - February 23rd</h2>
            <div class="point" routerLink="semifinals"></div>
        </div>
        <div class="timeline_part">
            <h2>February 29th - March 1st</h2>
            <div class="point" routerLink="finals"></div>
        </div>
        <div class="timeline_part" id="last_border">
            <h2>March 7th - March 8th</h2>
            <div class="point" routerLink="grandfinals"></div>
        </div>
    </div>
    <div class="content">
        <div class="content_part">
            <div class="content_text">
                <h2>Qualifiers</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Group Stage</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Round of 32</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Round of 16</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Quarter Finals</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Semi Finals</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Finals</h2>
            </div>
        </div>
        <div class="content_part">
            <div class="content_text">
                <h2>Grand Finals</h2>
            </div>
        </div>
    </div>
</div>