.btn {
    background-color: #EF4729;
    box-shadow: #ffffffa1 1px 1px 1px;
    color: white;
}

.btn:hover {
    box-shadow: #ffffffa1 2px 2px 2px;
    color: white;
}

#search {
    box-shadow: #ffffffa1 1px 1px 1px;
}

body {
    background-image: url(https://vignette.wikia.nocookie.net/taiko/images/5/50/Wiki-background/revision/latest?cb=20170630080745);
}

.nav-item{
    margin: 15px;
    font-size: 20px;
}