<h1>Group Stage</h1>

<div class="groupstage_container">

    <div class="group" *ngFor="let group of groups">
        <table> 
            <thead>
                <tr>
                    <th></th>
                    <th>{{group.group_name}}</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Seed</th>
                    <th>Player</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr>
                    <td>Top</td>
                    <td>John Doe</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>High</td>
                    <td>John Doe</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Mid</td>
                    <td>John Doe</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Low</td>
                    <td>John Doe</td>
                    <td>500</td>
                </tr>-->
            </tbody>
        </table>
    </div>

</div>
