<div class="bg">

    <div class="navbar_container">
            <div routerLink="/schedule">SEE ALL</div>
            <div routerLink="qualifiers">Qualifiers</div>
            <div routerLink="groupstage">Group Stage</div>
            <div routerLink="round32">Round of 32</div>
            <div routerLink="round16">Round of 16</div>
            <div routerLink="quarterfinals">Quarter Finals</div>
            <div routerLink="semifinals">Semi Finals</div>
            <div routerLink="finals">Finals</div>
            <div routerLink="grandfinals" id="last_nav">Grand Finals</div>
    </div>

    <router-outlet></router-outlet>

</div>