// NAVBAR

.bg{
  background-image: url(../../assets/images/background.png);
  background-repeat: repeat;
}

.navbar_container{
  width: 65%;
  margin: auto;
  background-color: #422454;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar_container div{
  padding: 15px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid white;
}


#last_nav{
  border: none;
}

.navbar_container div:hover{
  cursor: pointer;
  background-color: white;
  color: #422454;
}

.onpage{
  background-color: white;
  color: #422454;
}

@media (max-width: 992px) {
  .navbar_container{
    width: 100%;
  }
}