<nav class="hide-on-med-and-down sticky1">
    <div class="nav-wrapper">
        <ul id="navbar">
            <li><a>Signups</a></li>
            <li><a>Screening Phase</a></li>
            <li><a>Qualifiers</a></li>
            <li><a>Group Stage</a></li>
            <li><a>Round of 32</a></li>
            <li><a>Round of 16</a></li>
            <li><a>Quarterfinals</a></li>
            <li><a>Semifinals</a></li>
            <li><a>Finals</a></li>
            <li><a>Grand Finals</a></li>
        </ul>
    </div>
</nav>

<div class="content bg">
  <div class="row valign-wrapper">
    <div class="left date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>December 7th - January 5th ►</h4>
    </div>
    <div class="right round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Signups -</h3>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Screening phase -</h3>
    </div>
    <div class="right date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>◄ January 5th - January 12th</h4>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>January 18th - January 19th ►</h4>
    </div>
    <div class="right round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Qualifiers -</h3>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Group Stage -</h3>
    </div>
    <div class="right date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>◄ January 25th - January 26th</h4>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>February 1st - February 2nd ►</h4>
    </div>
    <div class="right round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Round of 32 -</h3>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Round of 16 + Loser's Bracket Round 1 & 2 -</h3>
    </div>
    <div class="right date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>◄ February 8th - February 9th</h4>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>February 15th - February 16th ►</h4>
    </div>
    <div class="right round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Quarterfinals + Loser's Bracket Round 3 & 4 -</h3>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Semifinals + Loser's Bracket Round 5 & 6 -</h3>
    </div>
    <div class="right date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>◄ February 22nd - February 23rd</h4>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>February 29th - March 1st ►</h4>
    </div>
    <div class="right round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Winner's Finals + Loser's Finals & Loser's Grand Finals -</h3>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="left round schedule col l7 m7 s7 card-panel z-depth-2">
        <h3>- Grand Finals -</h3>
    </div>
    <div class="right date schedule col l5 m5 s5 card-panel z-depth-2">
        <h4>◄ March 7th - March 8th</h4>
    </div>
  </div>
</div>

<script src="../../assets/js/schedule.js"></script>