<div class="bg">
    <div id="staff_container">
        
        <h2>Host</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Ladybug</h4>
                <img src="../../assets/images/pp/Ladybug.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Ladylag</h4>
                <img src="../../assets/images/pp/Ladylag.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Graphic Designer</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">E-M-i</h4>
                <img src="../../assets/images/pp/E-M-i.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Ladygril</h4>
                <img src="../../assets/images/pp/Ladygril.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Mappool Selector</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Bedwyr Aorta</h4>
                <img src="../../assets/images/pp/Bedwyr Aorta.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Capu</h4>
                <img src="../../assets/images/pp/Capu.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Kaho-Hinata</h4>
                <img src="../../assets/images/pp/Kaho-Hinata.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Ladybug</h4>
                <img src="../../assets/images/pp/Ladybug.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Ladylag</h4>
                <img src="../../assets/images/pp/Ladylag.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Web Developer</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Cieleia</h4>
                <img src="../../assets/images/pp/Cieleia.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Cychloryn</h4>
                <img src="../../assets/images/pp/Cychloryn.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Kaho-Hinata</h4>
                <img src="../../assets/images/pp/Kaho-Hinata.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Ladylag</h4>
                <img src="../../assets/images/pp/Ladylag.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Root</h4>
                <img src="../../assets/images/pp/Root.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">ZeddaStake</h4>
                <img src="../../assets/images/pp/ZeddaStake.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Wiki Editor</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">fajar13k</h4>
                <img src="../../assets/images/pp/fajar13k.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Streamer</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Bedwyr Aorta</h4>
                <img src="../../assets/images/pp/Bedwyr Aorta.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">cheese salad</h4>
                <img src="../../assets/images/pp/cheese salad.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">E-M-i</h4>
                <img src="../../assets/images/pp/E-M-i.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">ITotallyGetThat</h4>
                <img src="../../assets/images/pp/ITotallyGetThat.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Krekker</h4>
                <img src="../../assets/images/pp/Krekker.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">oliebol</h4>
                <img src="../../assets/images/pp/oliebol.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
            <div class="staff_people">
                <h4 class="pseudo">Rukairi</h4>
                <img src="../../assets/images/pp/Rukairi.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Commentator</h2>
        <div class="staff_division">
            <div class="staff_people" *ngFor="let commentator of commentators">
                <h4 class="pseudo">{{commentator.pseudo}}</h4>
                <img src="{{commentator.img}}" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Referee</h2>
        <div class="staff_division">
            <div class="staff_people" *ngFor="let referee of referees">
                <h4 class="pseudo">{{referee.pseudo}}</h4>
                <img src="{{referee.img}}" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

        <h2>Contributor</h2>
        <div class="staff_division">
            <div class="staff_people">
                <h4 class="pseudo">Ladylag</h4>
                <img src="../../assets/images/pp/Ladylag.png" alt="avatar">
                <div class="social_media">
                    <div><a href="#"><img src="../../assets/images/osu.png" alt="logoOsu"></a></div>
                    <div><a href="#"><img src="../../assets/images/discordlogo.png" alt="logoDiscord"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitterlogo.png" alt="logoTwitter"></a></div>
                    <div><a href="#"><img src="../../assets/images/twitchlogo.png" alt="logoTwitch"></a></div>
                </div>
            </div>
        </div>

    </div>
</div>