h1{
    text-align: center;
}

.round16_container{
    width: 100%;
}

th, td{
    text-align: center;
}

table {
    background-color: #422454c0;
    border-radius: 10px;
    color: white;
    margin-top: 25px;
}

.match_id{
    width: 3%;
}

.pseudo1, .pseudo2 {
    font-size: 1.3rem;
}

.match_date, .country1, .img1, .pseudo1, .country2, .img2, .pseudo2{
    width: 9%;
}

.img_container{
    width: 50px;
    margin: auto;
}

.link_container{
    width: 25px;
    margin: auto;
}

img{
    width: 100%;
}

.country2, .match_date{
    border-right: 2px solid black;
}