<h1>Round of 16</h1>

<div class="round16_container">

    <table>
        <thead>
            <tr>
                <th>Match_ID</th>
                <th>Date</th>
                <th>Country</th>
                <th>Player Image</th>
                <th>Player 1</th>
                <th>VS</th>
                <th>Player 2</th>
                <th>Player Image</th>
                <th>Country</th>
                <th>Referee</th>
                <th>Streamer</th>
                <th>Commentator(s)</th>
                <th>Twitch</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let round16 of rounds16; let y = index">
                <td class="match_id">{{y+1}}</td>
                <td class="match_date">{{round16.date}}</td>
                <td class="country1"><div class="img_container"><img src="{{round16.country1}}" alt="country1"></div></td>
                <td class="img1"><div class="img_container"><img src="{{round16.img1}}" alt="player1"></div></td>
                <td class="pseudo1">{{round16.player1}}</td>
                <td class="vs">VS</td>
                <td class="pseudo2">{{round16.player2}}</td>
                <td class="img2"><div class="img_container"><img src="{{round16.img2}}" alt=""></div></td>
                <td class="country2"><div class="img_container"><img src="{{round16.country2}}" alt="country2"></div></td>
                <td class="referee">{{round16.referee}}</td>
                <td class="streamer">{{round16.streamer}}</td>
                <td class="commentators"><div *ngFor="let commentator of round16.commentators">{{commentator}}</div></td>
                <td class="mplink"><div class="link_container"><a href="{{round16.mplink}}" target="_blank"><img src="../../../assets/images/iconlogo.png" alt="MP Link"></a></div></td>
            </tr>
        </tbody>
    </table>

</div>
