<header>
  <img src="./assets/images/header.png" alt="Oupsie, this doesn't work" width="100%" height="100%">
</header>

<div class="row valign-wrapper">
  <div class="col l3 m4 center-align">
    <img class="responsive-img hide-on-small-only" src="./assets/images/pipidon1.png" alt="Pipidon.png">
  </div>
  <div id="pipidon1" class="col l9 m8 s12 card-panel z-depth-2 center-align">
    <p>Welcome, potentially new Taiko players, or just beginning Taiko players aiming to improve their game! It's
      perhaps a
      bit difficult to get into Taiko just due to how intimidating the game looks, or based off of the colors confusing
      you, or even just afraid to jump out of your comfort zone* (*note not all reasons listed here)! Not to worry,
      we're
      here to put the spotlight onto you, with the Beginner's Taiko Tournament Season 5!</p>
    <p>In this, we'll get to see new
      members of the Taiko community partake and improve their skills. Who knows, perhaps one of these players will be a
      top Taiko player in the future? In any case, to get to the top, you must work hard from a lower point in the
      pyramid
      so to say.</p>
  </div>
</div>

<div class="row valign-wrapper">
  <div id="pipidon2" class="col l9 m8 s12 card-panel z-depth-2 center-align">
    <p>Announcements regarding mappools, schedules and everything regarding the tournament will be done on the Discord server, so make sure that you join it if you want to register.</p>
    <p>If you have any questions about this tournament, do not hesitate to ask them in the #questions channel. But please, read the rules before asking anything obvious.</p>
    <p>And remember, osu! is just a game. Even during a tournament, we're just playing to have fun together.</p>
  </div>
  <div class="col l3 m4 center-align">
    <img class="responsive-img hide-on-small-only" src="./assets/images/pipidon2.png" alt="Pipidon.png">
  </div>
</div>










<footer>

</footer>
