header {
  margin: 0%;
  background-color: #ffe8dc;
}

#pipidon1 {
  color: #ffffff;
  border: solid black 1px;
  background-color: #42245488;
  font-size: x-large;
  text-shadow: #000000 2px 0 2px;
  box-shadow:#42245471 2px 2px;
  margin-right: 2%;
}

#pipidon2 {
  color: #ffffff;
  border: solid black 1px;
  background-color: #42245488;
  font-size: x-large;
  text-shadow: #000000 2px 0 2px;
  box-shadow:#42245471 2px 2px;
  margin-left: 2%;

}

.row{
  margin: 0%;
}

#bg {
  background-image: url(https://cdn.discordapp.com/attachments/477252567815159819/656849675671961600/background.png);
  background-repeat: repeat;
  margin: 0%;
}
