header {
  margin: 0%;
  background-color: #ffe8dc;
}

div.col.l9.m8.s12.card-panel.z-depth-2.center-align{
  color: #ffffff;
  border: solid black 1px;
  background-color: #42245488;
  font-size: x-large;
  text-shadow: #000000 2px 0 2px;
  box-shadow:#42245471 2px 2px;
}

div.marginright.col.l9.m8.s12.card-panel.z-depth-2.center-align {
  margin-right: 2%;
}

div.marginleft.col.l9.m8.s12.card-panel.z-depth-2.center-align {
  margin-left: 2%;
}

.row{
  margin: 0%;
}

#bg {
  background-image: url(../../assets/images/background.png);
  background-repeat: repeat;
  margin: 0%;
}
