<div class="bg" id="table_container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Country</th>
                <th><i class="far fa-address-card"></i>Player</th>
                <th>Seeding</th>
                <th>Taiko rank</th>
                <th>PP Count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players; let i = index">
                <td class="table_index">{{i+1}}</td>
                <td class="table_country"><img src="{{player.country}}" alt="country"></td>
                <td class="table_name"><a href="{{player.url}}">{{player.name}}</a></td>
                <td class="table_seeding">{{player.seeding}}</td>
                <td class="table_taikoRank">{{player.taikoRank}}</td>
                <td class="table_ppCount">{{player.ppCount}}</td>
            </tr>
        </tbody>
    </table>
</div>
